.panel-images {
    margin-bottom: 50px;
}

.panel-images img {
    margin: 20px auto 0;
}

.panel-images .pluso {
    margin-top: 5px;
}

.gift-button {
    margin-top: 20px;
}

.panel-example {
    margin-top: 50px;
}