{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container">

    <section id="about">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Последние селфи</h2>
            </div>
        </div>
    </section><!--/#about-->

    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert">Для того, чтобы выкладывать фоторафии и получать балы, нужно пройти регистрацию</div>
    {% endif %}

    {% for selfie in object_list %}
        <div class="panel panel-default panel-images">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-3"><h3>{{ selfie.user }}</h3></div>
                    <div class="col-md-5 text-right">
                        <!--<h4>Запорожье. ул. Автозоводская</h4>-->
                        <!--<a href=""><h4>Смотреть на карте</h4></a>-->
                    </div>
                    <div class="col-md-4 col-md-offset-5 text-right">
                        <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,twitter,facebook,odnoklassniki"></div>
                        <br>Рейтинг: <b>{{ selfie.balls }}</b>
                    </div>
                </div>
            </div>

          <div class="panel-body">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h3>До уборки</h3>
                    <img src="{{ selfie.selfie_before.url }}" class="img-rounded img-responsive">
                </div>
                <div class="col-md-6 text-center">
                    <h3>После уборки</h3>
                    <img src="{{ selfie.selfie_after.url }}" class="img-rounded img-responsive">
                </div>
            </div>
          </div>
        </div>

    {% endfor %}
</div>
{% endblock %}