{% extends "base.html" %}

{% block content %}

    <div class="alert alert-info" role="alert">Для того, чтобы выкладывать фоторафии и получать балы, нужно пройти регистрацию</div>

    <div class="panel panel-default panel-images">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3"><h3>Петя Васичкин</h3></div>
                <div class="col-md-5 text-right">
                    <h4>Запорожье. ул. Автозоводская</h4>
                    <a href=""><h4>Смотреть на карте</h4></a>
                </div>
                <div class="col-md-4 text-right">
                    <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,twitter,facebook,odnoklassniki"></div>
                    <br>Рейтинг: <b>666</b>
                </div>
            </div>
        </div>

      <div class="panel-body">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>До уборки</h3>
                <img src="http://placehold.it/400x400" class="img-rounded img-responsive">
            </div>
            <div class="col-md-6 text-center">
                <h3>После уборки</h3>
                <img src="http://placehold.it/400x400" class="img-rounded img-responsive">
            </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default panel-images">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-3"><h3>Петя Васичкин</h3></div>
                <div class="col-md-5 text-right">
                    <h4>Запорожье. ул. Автозоводская</h4>
                    <a href=""><h4>Смотреть на карте</h4></a>
                </div>
                <div class="col-md-4 text-right">
                    <div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,twitter,facebook,odnoklassniki"></div>
                    <br>Рейтинг: <b>666</b>
                </div>
            </div>
        </div>

      <div class="panel-body">
        <div class="row">
            <div class="col-md-6 text-center">
                <h3>До уборки</h3>
                <img src="http://placehold.it/400x400" class="img-rounded img-responsive">
            </div>
            <div class="col-md-6 text-center">
                <h3>После уборки</h3>
                <img src="http://placehold.it/400x400" class="img-rounded img-responsive">
            </div>
        </div>
      </div>
    </div>

{% endblock %}