{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
<div class="container">

    {% if not user.is_authenticated %}
        <div class="alert alert-info" role="alert">Для того, чтобы выкладывать фоторафии и получать балы, нужно пройти регистрацию</div>
    {% endif %}

     <section id="pricing">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Последние селфи</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

    {% for selfie in object_list %}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                <ul class="pricing">
                    <li class="plan-header">

                        <div class="plan-name">
                            {{ selfie.user }}
                        </div>
                    </li>
                    <li><h2>До селфи</h2></li>
                    <li><img src="{{ selfie.selfie_before.url }}" class="img-rounded img-responsive"></li>


                    <!--<li class="plan-purchase"><a class="btn btn-primary" href="#">ORDER NOW</a></li>-->
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                <ul class="pricing featured">
                    <li class="plan-header">

                        <div class="plan-name">
                            Рейтинг: <b>{{ selfie.balls }}</b>
                        </div>
                    </li>
                    <li><h2 style="color: #fff;">После селфи</h2></li>
                    <li><img src="{{ selfie.selfie_after.url }}" class="img-rounded img-responsive"></li>
                    <li><div class="pluso" data-background="transparent" data-options="medium,square,line,horizontal,nocounter,theme=04" data-services="vkontakte,twitter,facebook,odnoklassniki"></div></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    {% endfor %}

    </div>
    </section><!--/#pricing-->

</div>
{% endblock %}